# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs (снимки памяти, core dumps)
hs_err_pid*

# JetBrains IDE (IntelliJ IDEA, PyCharm, etc.)
.idea/
*.iml

# NetBeans IDE
nbproject/

# Eclipse IDE
.classpath
.project
.settings/

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
*.pem

# Maven (можно добавить, если вы используете Maven)
target/

# Gradle (можно добавить, если вы используете Gradle)
build/

# Other common directories
bin/
out/
dist/

# etc...
